#info{
    
    width: 400px;
    height: auto;
    border: 0px solid whitesmoke;
    margin-top: 80px;
    
}

#info p{
    
    width: 400px;
    height: 410px;
    background-color: whitesmoke;
    padding: 20px;
   -webkit-box-shadow: 4px 3px 9px -2px #000000;
box-shadow: 4px 3px 9px -2px #000000;
     margin-top: 40px;
}

html, body{
    
    margin: 0;
    padding: 0;
    
}

body{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    
    border: 1px solid whitesmoke;
     margin-top: 80px;
   -webkit-box-shadow: -4px 3px 9px -2px #000000;
box-shadow: -4px 3px 9px -2px #000000;
}

a{
    
    border: 2px solid black;
    border-radius: 5px;
    background-color: #00D636;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    bottom: 70px;
    left: 160px;
    text-decoration: none;
    font-size: 20px;
    color: black;
   
}

a:hover{
    
    color: #00D636;
    border: 2px solid #00D636;
    background-color: black;
}



