#info{
    
    width: 400px;
    height: auto;
    border: 0px solid whitesmoke;
}

#info p{
    
    width: 400px;
    height: 410px;
    background-color: whitesmoke;
    padding: 20px;
}

html, body{
    
    margin: 0;
    padding: 0;
    
}

body{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    
    border: 1px solid whitesmoke;
}